body {
    background-color: #f0f0f0;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  #content
  {
      position:absolute; left: 0; right: 0; bottom: 0; top: 0px;
  }
  .chatbot-container {
    max-width: 700px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(34, 12, 12, 0.2);
    border-radius: 10px;
    overflow: hidden;

  }

  .chatbot-header {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
  }

  .chatbot-header h1 {
    margin: 0;
    font-size: 20px;
    color: #333;
  }

  .chatbot-body {
    padding: 20px;
    height: 420px;
    overflow-y: auto;
    padding-bottom: 0px;
  }

  .chatbot-message {
    margin-bottom: 10px;
  }

  .message-container{
     display:flex;
  }

  .bot-message p{
      padding: 8px;
      border-radius: 4px;
      line-height: 1.4;
      font-size: 16px;
      text-align: left;
      background-color: darkgrey;
      color: #000;
      margin-right: 50px;
  }

  .user-message p {
      padding: 8px;
      border-radius: 4px;
      line-height: 1.4;
      font-size: 16px;
      text-align: right;
      background-color: gainsboro;
      color: #000;
      margin-left: 50px;
  }

  .chatbot-input {
    display: flex;
    margin-top: 20px;
  }

  .chatbot-input input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 5px;
  }

  .chatbot-input button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1e90ff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }
  #chatbot-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    border-radius: 50%;
    cursor: pointer;
  }

  #chat-window {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 450px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    display: none;
    padding-bottom: 30px;
    margin-right: 40px;
  }
  img{
      max-width: 100%;
      max-height: 100%;
      display: block; /* remove extra space below image */
  }
  #chat-window.open {
    opacity: 0.5;
    transform: translateY(0);
  }
  #chatbot-icon:hover {
    transform: scale(1.1);
  }

  .user-icon,
.bot-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px; /* Adjust as needed */
}

/* User Icon */
.user-icon {
    background-color: #4CAF50; /* Green color, you can change this */
}

/* Bot Icon */
.bot-icon {
    background-color: #2196F3; /* Blue color, you can change this */
}

.like-icon,
.dislike-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 8px;
}